.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.list-item {
  margin: 14px;
  border-width: 1px;
  border-color: #cbced2;
  border-style: solid;
  border-radius: 8px;
  padding: 8px;
}
.btn-ele {
  background-color: transparent;
  border-width: 2px;
  padding: 8px;
  color: #326a9d;
  border-color: #326a9d;
  font-family: Roboto;
  border-radius: 8px;
}
